
.pointer-events-none {
    pointer-events: none;
}
.pointer-events-auto {
    pointer-events: auto;
}
.absolute {
    position: absolute;
}
.inset-0 {
    inset: 0;
}
.flex {
    display: flex;
}
.h-full {
    height: 100%;
}
.w-full {
    width: 100%;
}
.flex-col{
    flex-direction: column;
}